/* ...................................
Auth Pages
......................................*/
.fileinput {
	text-align: center;
}

.auth-wrapper {
	min-height: 92vh;
}

.auth-wrapper h1 {
	font-size: 1.5em;
	font-weight: 700;
	color: #6c757d;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.auth-wrapper .form-label {
	color: #6c757d;
}